<div class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link active" routerLink='posts'>Posts</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link active" routerLink='newpost'>Nouveau Post</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link active" routerLink='users'>Utilisateurs</a>
            </li>
            <li class="nav-item" routerLinkActive='active'>
                <a class="nav-link active" routerLink='new-user'>Nouvel Utilisateur</a>
            </li>
        </ul>
    </div>
</div>