<div class="row">
    <div class="col-sm-8">
        <h2>Créer un nouveau post</h2>
        <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
<div class="form-group">
    <label for="title">Titre de votre post</label>
    <input type="text" class="form-control" id="title" formControlName="title">
</div>
<div class="form-group">
        <label for="text">Contenu de votre post</label>
        <textarea type="text" class="form-control" id="text" formControlName="text" maxlength="300"></textarea>
    </div>
    <button class="btn btn-success" [disabled]="postForm.invalid" type="submit">Enregistrer</button>
        </form>
    </div>
</div>