<li class="post-item" [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0 ,
                'list-group-item-danger': post.loveIts < 0}">
    <app-post-header [post]="post" [nbPost]="nbPost" class="post-header"></app-post-header>
    <h4 class="title">{{ post.title }}</h4>
    <p class="text">{{ post.text }}</p>
    <p class="date">{{ post.date | date: 'yyyy/MM/dd h:mm:ss a' }}</p>
    <app-post-header [post]="post" class="post-header"></app-post-header>
</li>