.header {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.counter {
    justify-self: center;
    margin: 10px;
}

.fa-heart{
    font-size: 37px;
}

.btn-success {
    grid-column: 2/2;
    grid-row: 1/1;
    margin: 10px;
}

.btn-danger {
    grid-column: 3/3;
    grid-row: 1/1;
    margin: 10px;
}

.delete {
    grid-column: 10/10;
}

.fa-stack-1x {
    font-size: 14px;
}

.edit {
    grid-column: 9/9;
    grid-row: 1/1;
}