<div class="header">
    <span class="counter fa-stack">
        <span class="far fa-heart fa-stack-2x"></span>
        <strong class="fa-stack-1x">{{ post.loveIts }}</strong></span>
    <button (mouseover)="noSort=true" (mouseout)="onSaveList()" class="btn btn-success" (click)="onLikeit()"><i class="far fa-thumbs-up"></i></button>
    <button (mouseover)="noSort=true" (mouseout)="onSaveList()" class="btn btn-danger" (click)="onNotlikeit()"><i class="far fa-thumbs-down"></i></button>
    <button class="btn edit" (click)="openFormModal()"><i class="far fa-edit fa-2x"></i></button>
    <button class="btn delete" (click)="openNewDialogDelete()"><i class="far fa-minus-square fa-2x"></i></button>
</div>